.mainContent {
  display: flex;
  flex-direction: column;
  padding: 5px 30px;
  background-color: #7f7f7f;
  border-top: 10px solid lightgray;

  .moviesNumberContainer {
    display: flex;
    align-items: baseline;
    gap: 5px;

    .moviesNumber {
      font-weight: bold;
      color: white;
      margin-top: 10px;
    }
  }

  .genreSortControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid lightgray;
  }
}
