.headerContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("https://s3-alpha-sig.figma.com/img/9ab1/b611/92a81bbe79a924292111ca43f3a39e8f?Expires=1745193600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=AU-jMpecVTb5ReedPXnxxBWtcTUPRlTOyKuSJsv4~og35Gs-H0-Wog7oSyMNhUCEs9EisoT-jt4mmafoGH59XiNYvD~OBqXp0TE0gNtzu9tnwNwtb71Yg-v5JdWq5oEjYGVNkVYGWjlI7yv57cW~qEPhGN-~vPX70QOip5Pesn7S3UQGg22CvBKkJK2kq6Lba0U5rCqja03M-OCfV~IH7foA75cxMVopM3FERyKXE3Oxyidq~oG6SjC3nrq5dXRi4QMwnIP80yIjmZQukWSOJtZBxXLvmFh9Q-6nnmbsUvtRzprDIq2weqiNUfQ23J4jv7YhziEC9kMbQv0IbmD1BQ__");
    background-size: cover;
    background-position: center;
    filter: blur(5px);
  }
}

.headerContent {
  position: relative;
  width: 80%;
}
