.genreSelectContainer {
  display: flex;
  gap: 20px;
  width: 400px;

  .genreButton {
    padding: 10px 0;
    position: relative;
  }

  .activeGenreButton:after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: lightcoral;
  }
}
