.appContainer {
  .addMovieButton {
    position: absolute;
    top: -60px;
    right: -40px;
    color: lightcoral;
    background-color: darkslategray;
    width: 130px;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
  }
}
