body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, h1, h2, h3, h4, h5{
  margin: 0;
}

label, h3 {
  margin-bottom: 10px;
  font-weight: bold;
}

input, textarea {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid gray;
}

.invalidClass {
  border-color: red;
}

